name: Tests and Linters Scalingo go-utils Packages

on:
  pull_request:
  push:
    branches: [main, master, prod]

jobs:
  detect-modules:
    name: Detect the Go modules declared in go-utils
    runs-on: ubuntu-24.04
    outputs:
      modules: ${{ steps.set-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@v6
        with:
          # We need to define the fetch-depth to 0 so that we can get the commit ID of the master branch
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
      - id: set-modules
        run: |
          echo -n "modules=" > $GITHUB_OUTPUT
          for m in ./*/*go.mod; do
            pushd $(dirname "$m") > /dev/null
            module_path="$(go list -m -json | jq --slurp '.' | jq --compact-output --raw-output '.[].Dir')"
            echo $module_path
            popd > /dev/null
          done | jq --raw-input --slurp 'split("\n")' | jq --compact-output 'map(select(length > 0))' >> $GITHUB_OUTPUT

  linter:
    needs: detect-modules
    name: Linter on a PR
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        modules: ${{ fromJSON(needs.detect-modules.outputs.modules) }}
    steps:
      - uses: Scalingo/actions/go-linter@main
        with:
          working-directory: ${{ matrix.modules }}

  tests:
    needs: detect-modules
    name: Unit Tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        modules: ${{ fromJSON(needs.detect-modules.outputs.modules) }}
    steps:
      - uses: Scalingo/actions/go-tests@main
        with:
          working-directory: ${{ matrix.modules }}
          # Only the 'mongo' module requires a MongoDB for its unit tests
          mongodb: ${{ endsWith(matrix.modules, '/mongo') }}
